apipkg==2.1.0
apparmor==3.0.4
appdirs==1.4.4
Brotli==1.0.9
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
configobj==5.0.6
cryptography==37.0.2
cssselect==1.1.0
cupshelpers==1.0
decorator==5.1.1
dragonmapper==0.2.6
ghp-import==2.1.0
hanzidentifier==1.0.2
idna==3.3
importlib-metadata==4.11.4
iniconfig==0.0.0
Jinja2==3.1.2
LibAppArmor==3.0.4
loguru==0.5.3
lxml==4.8.0
Markdown==3.3.7
MarkupSafe==2.1.1
mergedeep==1.3.4
mkdocs==1.3.0
mkdocs-material==8.3.1
mkdocs-material-extensions==1.0.3
nftables==0.1
notify2==0.3.1
opi==2.6.0
ordered-set==4.0.2
packaging==21.3
prettytable==3.2.0
psutil==5.9.1
py==1.11.0
pycparser==2.21
pycups==2.0.1
pycurl==7.45.1
Pygments==2.12.0
PyGObject==3.42.1
pymdown-extensions==9.4
pyOpenSSL==22.0.0
pyparsing==3.0.7
PySocks==1.7.1
python-dateutil==2.8.2
python-linux-procfs==0.6
pyudev==0.23.2
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.27.1
rpm==4.17.0
six==1.16.0
slip==0.6.5
slip.dbus==0.6.5
termcolor==1.1.0
urllib3==1.26.9
watchdog==2.1.8
wcwidth==0.2.5
zhon==1.1.5
zipp==3.8.0
